Repository UnBArqDsw2022-2/2022.2-CopoCheio, pull requests merged in 2023-01, with the labels that each got.

#32 Added telegram integration to notify pr's and updates in main
  .github/workflows/pr_notify.yml
  .github/workflows/update_notify.yml
Labels: enhancement

#31 feat(): Added jest back-end
  back-end/package-lock.json
  back-end/package.json
  docker-compose.yml
Labels: enhancement

#34 Hotfix Docker
  .env.example
  .gitignore
  README.md
  back-end/.env.example
  back-end/prisma/migrations/20221230194236_init/migration.sql
  back-end/prisma/schema.prisma
  back-end/src/server.ts
  docker-compose.yml
  front-admin/.env.example
  front-end/.env.example
Labels: bug, documentation, enhancement

#39 Docs/backlog admin
  docs/Modelagem/2.1.3.1.BacklogDoProduto.md
Labels: documentation

#45 Info expert GRASP
  docs/PadroesDeProjeto/3.1.1.InformationExpert.md
  docs/_sidebar.md
Labels: documentation

#49 Feature/crud user
  .env.example
  .gitignore
  back-end/.env.example
  back-end/__tests__/roles.ts
  back-end/__tests__/users.ts
  back-end/jest.config.ts
  back-end/package-lock.json
  back-end/package.json
  back-end/prisma/seed.ts
  back-end/prisma/singleton.ts
  back-end/src/@types/express/index.d.ts
  back-end/src/Config/auth.ts
  back-end/src/Controllers/roles.controller.ts
  back-end/src/Controllers/session.controller.ts
  back-end/src/Controllers/users.controller.ts
  back-end/src/Dto/create-role.dto.ts
  back-end/src/Dto/create-user.dto.ts
  back-end/src/Dto/login.dto.ts
  back-end/src/Dto/token.dto.ts
  back-end/src/Dto/update-role.dto.ts
  back-end/src/Dto/update-user.dto.ts
  back-end/src/HttpExceptions/httpExceptions.ts
  back-end/src/Middlewares/auth.ts
  back-end/src/Middlewares/failSafeHandler.ts
  back-end/src/Models/roles.model.ts
  back-end/src/Models/users.model.ts
  back-end/src/Services/session.service.ts
  back-end/src/dbExceptions/dbExceptionsHandler.ts
  back-end/src/prismaConection.ts
  back-end/src/server.ts
  back-end/tsconfig.json
  docker-compose.override.yml
  docker-compose.yml
Labels: enhancement, back-end

#51 Docs/gof structural archtectural
  back-end/src/HttpExceptions/httpExceptions.ts
  docs/PadroesDeProjeto/3.2.2.1.Proxy.md
  docs/PadroesDeProjeto/3.2.3.1.MockObject.md
  docs/PadroesDeProjeto/3.2.3.2.Interceptor.md
  docs/PadroesDeProjeto/assets/Interceptor.png
  docs/PadroesDeProjeto/assets/MockObject.jpg
  docs/PadroesDeProjeto/assets/Proxy.png
  docs/_sidebar.md
Labels: documentation, enhancement

#50 Feature/autenticate user admin
  docs/PadroesDeProjeto/3.2.1.GoFsCriacionais.md
  docs/PadroesDeProjeto/assets/Gofs/FactoryCode.jpg
  front-admin/package-lock.json
  front-admin/package.json
  front-admin/public/images/toast-glass.png
  front-admin/src/App.tsx
  front-admin/src/__tests__/App.test.tsx
  front-admin/src/__tests__/routes.test.tsx
  front-admin/src/components/atoms/ImageLogo.tsx
  front-admin/src/components/atoms/LinkTag.tsx
  front-admin/src/components/atoms/MainButton.tsx
  front-admin/src/components/atoms/Text.tsx
  front-admin/src/components/molecules/LoginForm.tsx
  front-admin/src/components/molecules/StringInput.tsx
  front-admin/src/components/organisms/LoginContainer.tsx
  front-admin/src/components/templates/LoginPageTemplate.tsx
  front-admin/src/globalStyles.ts
  front-admin/src/models/UserModel.ts
  front-admin/src/pages/LoginPage.tsx
  front-admin/src/routes.tsx
  front-admin/src/services/ApiRequestService.ts
  front-admin/src/services/UserService.ts
  front-admin/src/services/api.ts
  front-admin/src/styles/colors.ts
Labels: enhancement, Front-end

#63 Individual contribuition
  .github/workflows/back_end_tests.yml
  .github/workflows/build.yml
  .github/workflows/front_admin.yml
  .github/workflows/front_end.yml
  docs/PadroesDeProjeto/3.5.ParticipacoesPadroes.md
Labels: documentation

#66 Hotfix/fix log user admin
  .gitignore
  back-end/src/Controllers/session.controller.ts
  back-end/src/Middlewares/auth.ts
  back-end/src/Services/session.service.ts
  front-admin/src/App.tsx
  front-admin/src/components/atoms/ImageLogo.tsx
  front-admin/src/components/atoms/MainButton.tsx
  front-admin/src/components/atoms/SpinnerLoading.tsx
  front-admin/src/components/atoms/Text.tsx
  front-admin/src/components/molecules/LoginForm.tsx
  front-admin/src/components/molecules/StringInput.tsx
  front-admin/src/components/organisms/Header.tsx
  front-admin/src/components/organisms/LoginContainer.tsx
  front-admin/src/components/templates/HomePageTemplate.tsx
  front-admin/src/components/templates/LoginPageTemplate.tsx
  front-admin/src/components/templates/__tests__/HomePageTemplate.test.tsx
  front-admin/src/models/UserModel.ts
  front-admin/src/routes.tsx
  front-admin/src/services/ApiRequestService.ts
  front-admin/src/services/UserService.ts
  front-admin/src/styles/colors.ts
  front-admin/src/styles/styled.d.ts
  front-admin/src/utils/regexValidations.ts
Labels: Sprint 2, Front-end

#68 Updates in backlog & workflow
  .github/workflows/back_end.yml
  .github/workflows/back_end_tests.yml
  .github/workflows/front_admin.yml
  .github/workflows/front_end.yml
  back-end/__tests__/users.ts
  back-end/src/Controllers/roles.controller.ts
  back-end/src/Controllers/users.controller.ts
  back-end/src/Dto/create-role.dto.ts
  back-end/src/Dto/create-user.dto.ts
  back-end/src/Dto/update-role.dto.ts
  back-end/src/HttpExceptions/httpExceptions.ts
  back-end/src/Middlewares/auth.ts
  back-end/src/Middlewares/failSafeHandler.ts
  back-end/src/Models/roles.model.ts
  back-end/src/Models/users.model.ts
  back-end/src/dbExceptions/dbExceptionsHandler.ts
  back-end/src/server.ts
  docs/Modelagem/2.1.3.1.BacklogDoProduto.md
  docs/index.html
Labels: documentation

#83 Feature/crud countries categories
  back-end/prisma/migrations/20230128185922_fixed_counry_category_relations/migration.sql
  back-end/prisma/migrations/20230128200613_added_cascade_delete/migration.sql
  back-end/prisma/schema.prisma
  back-end/src/Controllers/categories.controller.ts
  back-end/src/Controllers/countries.controller.ts
  back-end/src/Dto/create-category.dto.ts
  back-end/src/Dto/create-country.dto.ts
  back-end/src/Models/categories.model.ts
  back-end/src/Models/countries.model.ts
  back-end/src/Services/categories.service.ts
  back-end/src/Services/countries.service.ts
  back-end/src/server.ts
  docker-compose.override.yml
Labels: enhancement, back-end

#76 feat(): Added seed countries
  back-end/prisma/seed.ts
  sdas
Labels: enhancement, back-end

#88 Feature/search user by role
  back-end/src/Controllers/users.controller.ts
  back-end/src/Dto/search-params-user.dto.ts
  back-end/src/Models/users.model.ts
  back-end/src/Services/users.service.ts
Labels: enhancement, back-end

#90 Feat: Admin user action modal
  front-admin/src/components/atoms/Icon/IconTypes.ts
  front-admin/src/components/atoms/IconText.tsx
  front-admin/src/components/atoms/ImageText.tsx
  front-admin/src/components/molecules/AttributesList.tsx
  front-admin/src/components/molecules/CardTitle.tsx
  front-admin/src/components/organisms/Card.tsx
  front-admin/src/components/organisms/ListUsers.tsx
  front-admin/src/components/organisms/UserManagementModal.tsx
  front-admin/src/components/templates/ListUsersTemplate.tsx
Labels: enhancement, Front-end

#85 feat(): Creating middleware for token role check
  back-end/src/@types/express/index.d.ts
  back-end/src/Controllers/users.controller.ts
  back-end/src/Dto/update-user.dto.ts
  back-end/src/Middlewares/auth.ts
  back-end/src/Middlewares/authRoleCheck.ts
  back-end/src/Models/roles.model.ts
  back-end/src/Models/users.model.ts
  back-end/src/Services/session.service.ts
  back-end/src/Services/users.service.ts
  back-end/src/server.ts
Labels: back-end
